// Global

* {
    margin: 0;
    padding: 0;
    body {
        font-family: sans-serif;
    }
}

// Mobile

@media only screen and (min-width: 320px) {
    body {
        background: lightcoral;
        width: 100%;
        #container {
            background: url(img/slot-machine-t.png) no-repeat;
            background-size: 450px;
            background-position: 45px 10px;
            height: 100vh;
            width: 500px;
            margin: auto;
            .slot-machine-img {
                display: block;
                width: 100%;
                margin: auto;
            }
            #place-holder {
                border: 1px solid blue;
                display: flex;
                align-items: center;
                width: 100%;
                height: 280px;
                margin: auto;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                .items-wrap {
                    width: 80%;
                    border: 5px solid red;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 80%;
                    .slots-wrap {
                        border: 1px solid yellow;
                        display: flex;
                        justify-content: space-around;
                        width: 60%;
                        height: 130px;
                        margin-top: 90px;
                        .first-slot, .second-slot, .third-slot {
                            border: 2px solid green;
                            width: 90px;
                            height: 100%;
                            &.pineapple {
                                background: url(img/pineapple.svg) no-repeat;
                                background-size: 70px;
                                background-position: -3px 28px;
                            }
                            &.apple {
                                background: url(img/apple.svg) no-repeat;
                                background-size: 50px;
                                background-position: 10px 42px;
                            }
                            &.avocado {
                                background: url(img/avocado.svg) no-repeat;
                                background-size: 50px;
                                background-position: 8px 45px;
                            }
                            &.banana {
                                background: url(img/banana.svg) no-repeat;
                                background-size: 70px;
                                background-position: 0px 30px;
                            }
                            &.kiwi {
                                background: url(img/kiwi.svg) no-repeat;
                                background-size: 50px;
                                background-position: 10px 45px;
                            }
                            &.lemon {
                                background: url(img/lemon.svg) no-repeat;
                                background-size: 50px;
                                background-position: 10px 45px;
                            }
                            &.strawberry {
                                background: url(img/strawberry.svg) no-repeat;
                                background-size: 50px;
                                background-position: 10px 45px;
                            }
                            &.watermelon {
                                background: url(img/watermelon.svg) no-repeat;
                                background-size: 50px;
                                background-position: 10px 45px;
                            }
                        }
                    }
                }
            }
            #result {
                width: 150px;
                height: 50px;
                font-size: 30px;
                text-align: center;
                border: 1px solid purple;
                margin: 15px 0 0 10px;
                position: relative;
                bottom: 255px;
                left: 170px;
            }
            #play-btn {
                background: none;
                border: none;
                font-size: 15px;
                z-index: 9;
                position: relative;
                bottom: 188px;
                left: 400px;
                color: #faea3b;
                text-transform: uppercase;
                cursor: pointer;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

// Tablet

@media only screen and (min-width: 600px) {
    body {
        background: lightgreen;
        #container {
            width: 710px;
            background-size: 700px;
            background-position: 30px 10px;
            .slot-machine-img {

            }
            #place-holder {
                height: 470px;
                width: 90%;
                .items-wrap {

                    .slots-wrap {
                        width: 70%;
                        height: 200px;
                        margin-top: 130px;
                        margin-right: 20px;
                        .first-slot, .second-slot, .third-slot {
                            width: 110px;
                            &.pineapple {
                                background-size: 110px;
                                background-position: 0 35px;
                            }
                            &.apple {
                                background-size: 70px;
                                background-position: 18px 65px;
                            }
                            &.avocado {
                                background-size: 80px;
                                background-position: 15px 65px;
                            }
                            &.banana {
                                background-size: 110px;
                                background-position: 0 40px;
                            }
                            &.kiwi {
                                background-size: 70px;
                                background-position: 23px 70px;
                            }
                            &.lemon {
                                background-size: 65px;
                                background-position: 18px 70px;
                            }
                            &.strawberry {
                                background-size: 78px;
                                background-position: 22px 58px;
                            }
                            &.watermelon {
                                background-size: 80px;
                                background-position: 15px 62px;
                            }
                        }
                    }
                }
            }
            #play-btn {
                font-size: 18px;
                bottom: 328px;
                left: 592px;
            }
            #result {
                bottom: 400px;
                left: 270px;
            }
        }
    }
}

// Desktop

@media only screen and (min-width: 1000px) {
    body {
        background: rgb(247, 197, 131);
        #container {
            width: 1200px;
            background-size: 70%;
            background-position: 190px 10px;
            .slot-machine-img {
                position: absolute;
                left: 40px;
                top: 60px;
            }
            #place-holder {
                width: 60%;
                height: 550px;
                .items-wrap {
                    width: 70%;
                    height: 50%;
                    margin-right: 60px;
                    .slots-wrap {
                        width: 90%;
                        height: 100%;
                        margin: 0;
                        .first-slot, .second-slot, .third-slot {
                            width: 150px;
                            &.pineapple {
                                background-size: 120px;
                                background-position: 8px 50px;
                            }
                            &.apple {
                                background-size: 80px;
                                background-position: 33px 78px;
                            }
                            &.avocado {
                                background-size: 90px;
                                background-position: 30px 73px;
                            }
                            &.banana {
                                background-size: 110px;
                                background-position: 12px 57px;
                            }
                            &.kiwi {
                                background-size: 80px;
                                background-position: 33px 78px;
                            }
                            &.lemon {
                                background-size: 80px;
                                background-position: 27px 75px;
                            }
                            &.strawberry {
                                background-size: 80px;
                                background-position: 37px 75px;
                            }
                            &.watermelon {
                                background-size: 90px;
                                background-position: 25px 70px;
                            }
                        }
                    }
                }
            }
            #play-btn {
                font-size: 22px;
                bottom: 382px;
                left: 864px;
            }
            #result {
                width: 200px;
                height: 70px;
                bottom: 480px;
                left: 473px;
                line-height: 70px;
            }
        }
    }
}